<div class="popup-position popup-wrapper" id="add-clients-modal">
    <div id="popup-container">
        <h2>Adicionar novo usuário</h2>
        <form class="form" action="/add/client" method="post" enctype="application/json">
            <input type="text" name="id" id="add-clients-id" hidden>
            <label>Nome do cliente:</label> <br>
            <input type="text" name="nome" id="add-clients-name" maxlength="50"> <br>
            <label>CPF:</label> <br>
            <input type="text" name="cpf" id="add-clients-cpf" maxlength="11"> <br>
            <label>Telefone:</label> <br>
            <input type="tel" name="telefone" id="add-clients-telefone" style="margin-bottom: 1.2em;" maxlength="16"> <br>
            <button class="pretty-button" type="button" id="cancel" onclick="toggleAddModal()">Cancelar</button>
            <input class="pretty-button submit-button" type="submit" value="Adicionar usuário">
        </form>
    </div>

    <script>
        function toggleAddModal() {
            document.getElementById('add-clients-id').value = "";
            document.getElementById('add-clients-name').value =  "";
            document.getElementById('add-clients-cpf').value =  "";
            document.getElementById('add-clients-telefone').value =  "";

            document.getElementById('add-clients-modal').classList.toggle("modal-show");
        }
    </script>
</div>