<div class="popup-position popup-wrapper" id="search-clients-modal">
    <div id="popup-container">
        <h1>Buscar cliente</h1>
        <form class="form" action="/search/client" method="post" enctype="application/json">
            <input type="text" name="id" id="search-cpf-input" hidden>
            <label>Buscar por CPF:</label> <br>
            <input type="text" name="cpf" id="edit-clients-cpf" maxlength="11"> <br>
            <label>Buscar por nome:</label> <br>
            <input type="text" name="nome" id="edit-clients-name" maxlength="50"> <br>
            <button class="pretty-button" type="button" id="cancel" onclick="toggleSearchModal()">Cancelar</button>
            <input class="pretty-button submit-button" type="submit" value="Buscar">
        </form>
    </div>

    <script>
        function toggleSearchModal() {

            document.getElementById('search-clients-modal').classList.toggle("modal-show");
        }
    </script>
</div>