<div class="popup-position popup-wrapper" id="edit-clients-modal">
    <div id="popup-container">
        <h2>Editar usuário</h2>
        <p>
            Editando cliente de ID [<label id="edit-clients-id-label"></label>]
        </p>
        <form class="form" action="/edit/client" method="post" enctype="application/json">
            <input type="text" name="id" id="edit-clients-id" hidden>
            <label>Nome do cliente:</label> <br>
            <input type="text" name="nome" id="edit-clients-name" maxlength="50"> <br>
            <label>CPF:</label> <br>
            <input type="text" name="cpf" id="edit-clients-cpf" maxlength="11"> <br>
            <label>Telefone:</label> <br>
            <input type="tel" name="telefone" id="edit-clients-telefone" style="margin-bottom: 1.2em;" maxlength="16"> <br>
            <button class="pretty-button" type="button" id="cancel" onclick="toggleEditModal('{}')">Cancelar</button>
            <input class="pretty-button submit-button" type="submit" value="Salvar alterações">
        </form>
    </div>

    <script>
        function toggleEditModal(j) {
            let client = JSON.parse(j);
            if (client.id) {
                document.getElementById('edit-clients-id').value = client.id;
                document.getElementById('edit-clients-id-label').textContent = client.id;
            }
            if (client.nome) document.getElementById('edit-clients-name').value = client.nome;
            if (client.cpf) document.getElementById('edit-clients-cpf').value = client.cpf;
            if (client.telefone) document.getElementById('edit-clients-telefone').value = client.telefone;

            document.getElementById('edit-clients-modal').classList.toggle("modal-show");
        }
    </script>
</div>