<div class="sidebar-layout sidebar">
    <img class="logomark" src="/images/logo.png">
    <nav class="sidebar-navbar">
        <ul>
            <a href="/">
                <li>
                    Home
                </li>
            </a>
            <a href="/products">
                <li>
                    Produtos
                </li>
            </a>
            <a href="/clients">
                <li>
                    Clientes
                </li>
            </a>
            <a href="/history">
                <li>
                    Histórico
                </li>
            </a>
            <a href="/users">
                <li>
                    Usuários
                </li>
            </a>
        </ul>
    </nav>

    <footer class="sidebar-footer">
        Stock ERP - &copy; 2022.
    </footer>
</div>