<div class="popup-position popup-wrapper" id="remove-modal">
    <div id="popup-container">
        <h2>Remover usuário</h2>
        <p> Você está prestes a remover o usuário de ID [<label id="remove-modal-id-label"></label>] </p>
        <p> Deseja continuar? </p>
        <button onclick="toggleModal('remove-modal', 0)">Cancelar</button>
        <a href="#" id="remove-modal-reference">
            <button class="button-red">Remover</button>
        </a>
    </div>

    <script>
        function toggleModal(elementid, userid) {
            var e = document.getElementById(elementid);
            if (userid) {
                document.getElementById('remove-modal-id-label').textContent = userid;
                document.getElementById('remove-modal-reference').href="remove/user?id="+userid; 
            }
            e.classList.toggle("modal-show");
        }
    </script>
</div>