<div class="popup-position popup-wrapper" id="edit-user-modal">
    <div id="popup-container">
        <h2>Editar usuário</h2>
        <p>
            Editando usuário de ID [<label id="edit-user-id-label"></label>]
        </p>
        <form class="form" action="/edit/user" method="post" enctype="application/json">
            <input type="text" name="id" id="edit-user-id" hidden>
            <label>Nome de usuário:</label> <br>
            <input type="text" name="nome" id="edit-user-name"> <br>
            <label>Senha:</label> <br>
            <input type="password" name="senha" id="edit-user-password"> <br>
            <label class="checkbox">
                <input type="checkbox" name="administrador" id="edit-user-admin">
                <span>Administrador</span>
            </label><br>
            <button class="pretty-button" type="button" id="cancel" onclick="toggleEditModal(0)">Cancelar</button>
            <input class="pretty-button submit-button" type="submit" value="Salvar alterações">
        </form>
    </div>

    <script>
        function toggleEditModal(j) {
            let user = JSON.parse(j);
            if (user.id) {
                document.getElementById('edit-user-id').value = user.id;
                document.getElementById('edit-user-id-label').textContent = user.id;
            }

            if (user.nome) document.getElementById('edit-user-name').value = user.nome;

            if (user.senha) document.getElementById('edit-user-password').value = user.senha;

            if (user.administrador) document.getElementById('edit-user-admin').checked = true;

            document.getElementById('edit-user-modal').classList.toggle("modal-show");
        }
    </script>
</div>