<div class="sidebar-layout sidebar">
    <img class="logomark" src="/images/logo.png">
    <nav class="sidebar-navbar">
        <ul>
            <a href="/">
                <li>
                    Home
                </li>
            </a>
            <a href="/pag1">
                <li>
                    Produtos
                </li>
            </a>
            <a href="/pag2">
                <li>
                    Clientes
                </li>
            </a>
            <a href="/pag3">
                <li>
                    Usuário
                </li>
            </a>
        </ul>
    </nav>

    <footer class="sidebar-footer">
        Stock ERP - &copy; 2022.
    </footer>
</div>