<!DOCTYPE html>
<html lang="pt">
<%- include('!head'); %>
<body class="wrapper">
    <%- include('!nav'); %>
    <div class="content-layout">
        <%- include('!header'); %>
       PAGINA CLEINTESS
    </div>
</body>
</html>