<!DOCTYPE html>
<html lang="pt">
<%- include('!head'); %>
<body class="wrapper">
    <%- include('!nav'); %>
    <%- include('!header'); %>
    <div class="content-layout">
       PAGINA TREISSSSSSSSSSSSS
    </div>
</body>
</html>