<div class="popup-position popup-wrapper" id="remove-modal">
    <div id="popup-container">
        <h2>Remover cliente</h2>
        <p> Você está prestes a remover o cliente de ID [<label id="r-id-label"></label>] </p>
        <p> Deseja continuar? </p>
        <button class="pretty-button" onclick="toggleRemoveModal(0)">Cancelar</button>
        <a href="#" id="r-submit">
            <button class="pretty-button button-red">Remover</button>
        </a>
    </div>

    <script>
        function toggleRemoveModal(userid) {
            if (userid) {
                document.getElementById('r-id-label').textContent = userid;
                document.getElementById('r-submit').href="clients/remove?id="+userid; 
            }
            document.getElementById('remove-modal').classList.toggle("modal-show");
        }
    </script>
</div>