<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>
<body class="wrapper">
    <%- include('../partials/nav'); %>
    <div class="content-layout">
        <%- include('../partials/header', {"page": "Histórico"}); %>
        Ideias para a pagina historico: <br>
        - tabela simples com os itens da tabela de movimentos em ordem de cadastro<br><br><br>
        <% if (locals.cliente) { %> USUÁRIO: <%= cliente.id %> <% }; %>
    </div>
</body>
</html>