<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>
<body class="wrapper">
    <%- include('../partials/nav'); %>
    <div class="content-layout">
        <%- include('../partials/header', {"page": "Home"}); %>
        <h1>Bem vindo ao Stock ERP!</h1>
        <p>
            A plataforma Stock ERP está aqui para disponibilizar as melhores soluções
            para empresas no ramo da gestão de estoque.
        </p>
        <p>
            Com nosso software, é possível a realização do controle de entrada e saída
            de mercadoria de sua empresa, além de controlar o fluxo de clientes que realizam
            compras.
        </p>
        <br>
        <p>
            Para sugestões, dúvidas ou reclamações, contate um de nossos desenvolvedores:
        </p>
        <br> <br> <br>
        <ul class="home-cards">
            <li>
                <img src="/images/pablo.png">
                <p style="font-weight: bold;">Pablo Antonio Garcia Silva Junior</p>
                <p>Desenvolvedor full-stack</p>
                <p>pablo.silva194@etec.sp.gov.br</p>
            </li>
            <li>
                <img src="/images/matheus.png">
                <p style="font-weight: bold;">Matheus Sanches Rodrigues</p>
                <p>Design e planejamento</p>
                <p>matheus.rodrigues225@etec.sp.gov.br</p>
            </li>
            <li>
                <img src="/images/joao.png">
                <p style="font-weight: bold;">João Pedro da Silva Rodrigues</p>
                <p>Documentação</p>
                <p>joao.rodrigues292@etec.sp.gov.br</p>
            </li>
        </ul>
    </div>
</body>
</html>