<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>
<body class="wrapper">
    <%- include('../partials/nav'); %>
    <div class="content-layout">
        <%- include('../partials/header', {"page": "Home"}); %>
        <h1>Bem vindo ao Stock ERP!</h1>
        <p>
            A plataforma Stock ERP está aqui para disponibilizar as melhores soluções
            para empresas no ramo da gestão de estoque.
        </p>
        <p>
            Com nosso software, é possível a realização do controle de entrada e saída
            de mercadoria de sua empresa, além de controlar o fluxo de clientes que realizam
            compras.
        </p>
        <p>
            Para sugestões, dúvidas ou reclamações, contate um de nossos desenvolvedores:
        </p>
        <ul style="text-indent: 30px;">
            <li>
                ○ Pablo Antonio Garcia Silva Junior (Desenvolvedor full-stack) - pablo.silva194@etec.sp.gov.br
            </li>
            <li>
                ○ Matheus Sanches Rodrigues (Design e planejamento) - matheus.rodrigues225@etec.sp.gov.br
            </li>
            <li>
                ○ João Pedro da Silva Rodrigues (Documentação) - joao.rodrigues292@etec.sp.gov.br
            </li>
        </ul>
    </div>
</body>
</html>