<!DOCTYPE html>
<html lang="pt">
<%- include('../partials/head'); %>
<body class="wrapper">
    <div class="content-layout">
        <form action="/login" method="post">
            <label>Usuário:</label>
            <input type="text" name="user">

            <label>Senha</label>
            <input type="password" name="pass">

            <input type="submit">
        </form>
    </div>
</body>
</html>