@import url("./base_layout.css");

@font-face {
    font-family: "Poppins";
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype'),
            url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  }

:root {
    --marigold: #f0a202ff;
    --tangerine: #f18805ff;
    --flame: #d95d39ff;
    --oxford-blue: #0e1428ff;
    --morning-blue: #7b9e89ff;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    color: white;
    background-color: var(--oxford-blue);
}

.sidebar a {
    color:white;
    text-decoration: none;
}

.sidebar-navbar li {
    font-size: 19px;
    padding: 20px 0px 20px 15px;
    border-bottom: 1px solid var(--flame);
}

.sidebar-navbar li:hover {
    background-color: var(--flame);
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.sidebar-footer {
    font-size: 17px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.logomark {
    width: 150px;
    margin: 20px 50px 20px 50px;
    object-fit: cover;
}