@import url("./base_layout.css");

@font-face {
    font-family: "Poppins";
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype'),
        url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

:root {
    --marigold: #f0a202ff;
    --tangerine: #f18805ff;
    --flame: #d95d39ff;
    --oxford-blue: #0e1428ff;
    --morning-blue: #7b9e89ff;
    font-family: 'Poppins', sans-serif;
}

::-moz-selection {
    color: black;
    background: var(--marigold);
}

::selection {
    color: black;
    background: var(--marigold);
}

.sidebar {
    color: white;
    background-color: var(--oxford-blue);
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar-navbar li {
    font-size: 19px;
    padding: 20px 0px 20px 15px;
    border-bottom: 1px solid var(--flame);
}

.sidebar-navbar li:hover {
    background-color: var(--flame);
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.sidebar-footer {
    font-size: 17px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.logomark {
    width: 150px;
    margin: 20px 50px 20px 50px;
    object-fit: cover;
}

.content-header {
    background-color: var(white);
    margin: 5vh 2vw 5vh 2vw;
    min-height: 70px;
    height: 15vh;
    border-radius: 7px;
    -webkit-box-shadow: 7px 7px 13px -11px #000000;
    box-shadow: 7px 7px 13px -11px #000000;
}

.standard-table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 3px 3px 9px -8px #000000;
    box-shadow: 3px 3px 9px -8px #000000;
}

.standard-table td,
.standard-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.standard-table tr {
    transition-duration: 0.1s;
}

.standard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.standard-table tr:hover {
    background-color: var(--morning-blue);
}

.standard-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: bold;
    background-color: var(--flame);
    color: white;
}

.table-button {
    transition-duration: 0.5s;
    transform: translateY(0);
    border: 1px solid var(--morning-blue);
    border-radius: 3px;
    font-size: 0.7em;
    padding: 0px;
    width: 2em;
    height: 2em;
}

.table-button:hover {
    transition-duration: 0.5s;
    transform: translateY(-0.2em);
    background-color: var(--marigold);
}

.table-button:active {
    transition-duration: 0.2s;
    transform: translateY(0);
}

.button-red {
    background-color: var(--tangerine);
}

.button-green {
    background-color: var(--tangerine);
}