<div class="popup-position popup-wrapper" id="add-modal">
    <div id="popup-container">
        <h2>Adicionar novo usuário</h2>
        <form class="form" action="/users/add" method="post" enctype="application/json">
            <input type="text" name="id" id="a-id" hidden>
            <label>Nome de usuário:</label> <br>
            <input type="text" name="nome" id="a-name" maxlength="16"> <br>
            <label>Senha:</label> <br>
            <input type="password" name="senha" id="a-password" maxlength="16"> <br>
            <label class="checkbox">
                <input type="checkbox" name="administrador" id="a-admin">
                <span>Administrador</span>
            </label><br>
            <button class="pretty-button" type="button" id="cancel" onclick="toggleAddModal()">Cancelar</button>
            <input class="pretty-button submit-button" type="submit" value="Adicionar usuário">
        </form>
    </div>

    <script>
        function toggleAddModal() {
            document.getElementById('a-id').value = "";
            document.getElementById('a-name').value =  "";
            document.getElementById('a-password').value =  "";
            document.getElementById('a-admin').checked = false;

            document.getElementById('add-modal').classList.toggle("modal-show");
        }
    </script>
</div>